<!-- Oldal container -->
 <div class="row justify-content-center my-3 mx-2">
  <div class="col-12 d-flex justify-content-center mt-1">
    <ul class="nav justify-content-center my-3">
      <li ng-repeat="x in classes" class="nav-item">
        <button class="btn btn-outline-primary mx-2 rounded-pill" 
                type="button" 
                ui-sref="classes({class: x})">
          {{x}}
        </button>
      </li>
    </ul>

  </div>
</div>
<div class="team-boxed">
  <div class="container-fluid">
    <div class="intro ">
      <!-- Jelenlegi osztály kiírása -->
      <h2 class="text-center display-3">
        {{className}} osztály
      </h2>
      <div class="text-center">
        <button type="button" class="btn btn-primary" ng-click="genderFilter = 'M'">Férfi</button>
         <button type="button" class="btn btn-danger" ng-click="genderFilter = null">Összes</button>
        <button type="button" class="btn btn-primary" ng-click="genderFilter = 'F'">Nő</button>
      </div>
</div>

    </div>

    <!-- Student kártyák megjelenítése -->
    <div class="row flex-wrap gap-4 justify-content-center">
      <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xxl-2 border border-1 rounded my-3"
           ng-repeat="student in students"
           ng-show="genderFilter == null || student.gender === genderFilter">
        <div class="py-3">
          <div class="text-center">
            <img class="rounded-circle img-thumbnail" 
                 style="width: 160px; height: 160px;"
                 ng-src="assets/pics/{{className}}/{{student.image}}">
          </div>
          <h5 class="text-center my-4">{{student.name}}</h5>
          <div class="text-end justify-content-center d-flex">
            <button type="button" 
                    ng-click="showStudentModal(student)" 
                    class="btn btn-primary" 
                    data-bs-toggle="modal"
              data-bs-target="#studentModal">
              Bővebben
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tanulo adatai -->
<div class="modal fade"
     id="studentModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true"
     ng-bs-hide-modal>

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white shadow-lg">

      <!-- Fejléc , tanulo neve -->
      <div class="modal-header border-secondary text-center">
        <h5 class="modal-title" id="exampleModalLabel">
          {{currentStudent.name}}
        </h5>

        <!-- Bezárás gomb -->
        <button type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="modal"
                aria-label="Bezárás">
        </button>
      </div>

      <!-- Tanulo adatai -->
      <div class="modal-body">
        <!-- Nemek alapján kilistázás -->
        <p>
          Neme: {{currentStudent.gender == "M" ? "Férfi" : "Nő"}}
        </p>

        <!-- Magasság alapján kilistázás -->
        <p>
          Magassága: {{currentStudent.height}} cm
        </p>

        <!-- Van-e párja -->

        <p>
          {{currentStudent.taken == 0 ? "Nincs párja" : "Van párja"}}
        </p>


      </div>

      <!-- Footer -->
      <div class="modal-footer border-secondary">
        <!-- Tiltott lista megnyitása -->
        <button type="button"
                ng-click="modalClassLoad('A')"
                class="btn btn-outline-light"
                ng-show="currentStudent.id == $root.user.id || $root.user.id === 999"
                data-bs-target="#operationsModal"
                data-bs-toggle="modal"
                data-bs-dismiss="modal">
          Tiltott lista
        </button>

        <!-- Modal bezárása -->
        <button type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">
            Bezárás
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Tiltott lista osztályokra bontva -->
<div class="modal fade"
     id="operationsModal"
     tabindex="-1"
     aria-labelledby="operationsModalLabel"
     aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white shadow-lg">

      <!-- Modal fejléc -->
      <div class="modal-header border-secondary">
        <h5 class="modal-title"
            id="operationsModalLabel">
          Tiltott Lista
        </h5>

        <!-- Bezárás gomb -->
        <button type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="modal"
                aria-label="Bezárás">
        </button>
      </div>

      <!-- Modal törzs -->
      <div class="modal-body">

        <!-- Bootstrap navigácio -->
        <ul class="nav nav-tabs mb-3"
            id="modalTabs"
            role="tablist">

          <!-- A osztály tab -->
          <li class="nav-item"
              role="presentation">
            <button class="nav-link active"
                    id="tab1-tab"
                    ng-click="modalClassLoad('A')"
                    data-bs-toggle="tab"
                    data-bs-target="#tab1"
                    type="button"
                    role="tab"
                    aria-controls="tab1"
                    aria-selected="true">
                A
            </button>
          </li>

          <!-- B osztály tab -->
          <li class="nav-item"
              role="presentation">
            <button class="nav-link"
                    id="tab2-tab"
                    ng-click="modalClassLoad('B')"
                    data-bs-toggle="tab"
                    data-bs-target="#tab2"
                    type="button"
                    role="tab"
                    aria-controls="tab2"
                    aria-selected="false">
              B
            </button>
          </li>

          <!-- C osztály tab -->
          <li class="nav-item"
              role="presentation">
            <button class="nav-link"
                    id="tab3-tab"
                    ng-click="modalClassLoad('C')"
                    data-bs-toggle="tab"
                    data-bs-target="#tab3"
                    type="button"
                    role="tab"
                    aria-controls="tab3"
                    aria-selected="false">
              C
            </button>
          </li>
        </ul>

        <!-- Tab tartalom, ahol a tanulok listája checkbox formában jelenik meg -->
        <div class="tab-content" id="modalTabsContent" style="max-height: 300px; overflow-y: auto;">

          <!-- A osztály diákjai -->
          <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <!-- Diákok kilistázása -->
            <div ng-repeat="x in modalStudents" class="form-check" ng-show="x.id != currentStudent.id">
              <input class="form-check-input" ng-checked="x.blocked"
                ng-click="blocklistEdit($event.target.checked, currentStudent, x)" type="checkbox" id="{{x.id}}">
              <label class="form-check-label" for="{{x.id}}">
                {{x.name}}
              </label>
            </div>
          </div>

          <!-- B osztály -->
          <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <div ng-repeat="x in modalStudents" class="form-check" ng-show="x.id != currentStudent.id">
              <input class="form-check-input" ng-checked="x.blocked"
                ng-click="blocklistEdit($event.target.checked ,currentStudent, x)" type="checkbox" id="{{x.id}}">
              <label class="form-check-label" for="{{x.id}}">
                {{x.name}}
              </label>
            </div>
          </div>

          <!-- C osztály -->
          <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            <div ng-repeat="x in modalStudents" class="form-check" ng-show="x.id != currentStudent.id">
              <input class="form-check-input" ng-checked="x.blocked"
                ng-click="blocklistEdit($event.target.checked, currentStudent, x)" type="checkbox" id="{{x.id}}">
              <label class="form-check-label" for="{{x.id}}">
                {{x.name}}
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer border-secondary">
        <!-- Modal bezárása -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Bezárás
        </button>
      </div>

    </div>
  </div>
</div>