<!-- Oldal container -->
 <div class="row justify-content-center mt-3 mx-2">
  <div class="col-12 d-flex justify-content-center mt-1">
    <ul class="nav justify-content-center my-3">
      <li ng-repeat="x in classes"
          class="nav-item">
        <button class="btn btn-outline-primary mx-2 rounded-pill" 
                type="button" 
                ui-sref="classes({class: x})">
          {{x}}
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="team-boxed">
  <div class="container-fluid">
    <div class="intro mb-3">
      <!-- Jelenlegi osztály kiírása -->
      <h6 class="text-center display-6">
        {{className}} {{currentLang.classes.class}}
      </h6>
      <div class="text-center">
    <!-- Férfi gomb: csak ha van fiú -->
    <button type="button"
            class="btn btn-primary"
            ng-show="hasBoys"
            ng-click="genderFilter = 'M'"
             ng-disabled="genderFilter == 'M' || className == '13C'">
        {{currentLang.classes.man}}
    </button>
    <!-- Mind gomb: csak ha van fiú ÉS lány is -->
    <button type="button"
            class="btn btn-danger"
            ng-show="hasBoth"
            ng-click="genderFilter = null"
            ng-disabled="genderFilter == null">
        {{currentLang.classes.all}}
    </button>
    <!-- Nő gomb: csak ha van lány -->
    <button type="button"
            class="btn btn-primary"
            ng-show="hasGirls"
            ng-click="genderFilter = 'F'"
            ng-disabled="genderFilter === 'F'">
        {{currentLang.classes.woman}}
    </button>
</div>
    </div>

    </div>
    <!-- Student kártyák megjelenítése -->
    <div class="row flex-wrap gap-3 justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 border border-1 rounded zoom"
           ng-repeat="student in students track by $index"
           ng-show="genderFilter == null || student.gender === genderFilter">
        <div class="py-3">
          <div class="text-center">
            <img class="rounded-circle img-thumbnail" 
                 style="width: 160px; height: 160px;"
                 ng-src="assets/pics/{{className}}/{{studentsFolder[$index]}}/{{studentsFolder[$index]}}.jpg">
          </div>
          <h5 class="text-center my-4">
            {{student.name}}
          </h5>
          <div class="text-end justify-content-center d-flex">
            <button type="button" 
                    ng-click="showStudentModal(student)" 
                    class="btn btn-primary" 
                    data-bs-toggle="modal"
                    data-bs-target="#studentModal">
              {{currentLang.classes.more}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"
     id="studentModal"
     tabindex="-1"
     aria-labelledby="studentModalLabel"
     aria-hidden="true"
     ng-bs-hide-modal>

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white border-0 shadow-lg rounded-4">

      <!-- Fejléc -->
      <div class="modal-header border-secondary">
        <h5 class="modal-title fw-semibold" id="studentModalLabel">
          <i class="fa-solid fa-user me-2 text-info"></i>
          {{currentStudent.name}}
        </h5>
        <button type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="modal"
                aria-label="Bezárás">
        </button>
      </div>

      <!-- Tanuló adatai -->
      <div class="modal-body px-4 py-3 text-center">
        <p class="fs-5 mb-2">
          <i class="fa-solid fa-venus-mars me-2 text-secondary"></i>
          {{currentLang.classes.gender}}:
          <span class="fw-semibold">
            {{currentStudent.gender == "M" ? currentLang.classes.man : currentLang.classes.woman}}
          </span>
        </p>

        <p class="fs-5 mb-2">
          <i class="fa-solid fa-ruler-vertical me-2 text-secondary"></i>
          {{currentLang.classes.height}}:
          <span class="fw-semibold">{{currentStudent.height}} cm</span>
        </p>
        
        <p class="fs-5 mb-0">
          <i class="fa-solid fa-heart me-2 text-danger"></i>
          <span class="fw-semibold">
            {{currentStudent.taken == 0 ? currentLang.classes.no_pair : currentLang.classes.yes_pair}}
          </span>
        </p>
      </div>

      <!-- Lábléc -->
      <div class="modal-footer border-secondary justify-content-center">
        <button type="button"
                ng-click="modalClassLoad('A')"
                class="btn btn-outline-light px-4 fw-semibold"
                ng-show="currentStudent.id == $root.user.id || $root.user.id === 999"
                data-bs-target="#operationsModal"
                data-bs-toggle="modal"
                data-bs-dismiss="modal">
          <i class="fa-solid fa-user-shield me-2"></i>
          {{currentLang.classes.block_list}}
        </button>
        <button type="button"
                class="btn btn-secondary px-4 fw-semibold"
                data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark me-2"></i>
          {{currentLang.classes.close}}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Tiltott lista osztályokra bontva -->
<div class="modal fade"
     id="operationsModal"
     tabindex="-1"
     aria-labelledby="operationsModalLabel"
     aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white shadow-lg">

      <!-- Modal fejléc -->
      <div class="modal-header border-secondary">
        <h5 class="modal-title"
            id="operationsModalLabel">
          {{currentLang.classes.block_list}}
        </h5>

        <!-- Bezárás gomb -->
        <button type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="modal"
                aria-label="Bezárás">
        </button>
      </div>

      <!-- Modal törzs -->
      <div class="modal-body">

        <!-- Bootstrap navigácio -->
        <ul class="nav nav-tabs mb-3"
            id="modalTabs"
            role="tablist">

          <!-- A osztály tab -->
          <li class="nav-item"
              role="presentation">
            <button class="nav-link active"
                    id="tab1-tab"
                    ng-click="modalClassLoad('A')"
                    data-bs-toggle="tab"
                    data-bs-target="#tab1"
                    type="button"
                    role="tab"
                    aria-controls="tab1"
                    aria-selected="true">
                A
            </button>
          </li>

          <!-- B osztály tab -->
          <li class="nav-item"
              role="presentation">
            <button class="nav-link"
                    id="tab2-tab"
                    ng-click="modalClassLoad('B')"
                    data-bs-toggle="tab"
                    data-bs-target="#tab2"
                    type="button"
                    role="tab"
                    aria-controls="tab2"
                    aria-selected="false">
              B
            </button>
          </li>

          <!-- C osztály tab -->
          <li class="nav-item"
              role="presentation">
            <button class="nav-link"
                    id="tab3-tab"
                    ng-click="modalClassLoad('C')"
                    data-bs-toggle="tab"
                    data-bs-target="#tab3"
                    type="button"
                    role="tab"
                    aria-controls="tab3"
                    aria-selected="false">
              C
            </button>
          </li>
        </ul>

        <!-- Tab tartalom, ahol a tanulok listája checkbox formában jelenik meg -->
        <div class="tab-content"
             id="modalTabsContent"
             style="max-height: 300px; overflow-y: auto;">

          <!-- A osztály diákjai -->
          <div class="tab-pane fade show active"
               id="tab1"
               role="tabpanel"
               aria-labelledby="tab1-tab">
            <!-- Diákok kilistázása -->
            <div ng-repeat="x in modalStudents"
                 class="form-check"
                 ng-show="x.gender != currentStudent.gender">
              <input class="form-check-input"
                     ng-checked="x.blocked"
                     ng-click="blocklistEdit($event.target.checked, currentStudent, x)"
                     type="checkbox"
                     id="{{x.id}}">
              <label class="form-check-label"
                     for="{{x.id}}">
                {{x.name}}
              </label>
            </div>
          </div>

          <!-- B osztály -->
          <div class="tab-pane fade"
               id="tab2" role="tabpanel"
               aria-labelledby="tab2-tab">
            <div ng-repeat="x in modalStudents"
                 class="form-check"
                 ng-show="x.gender != currentStudent.gender">
              <input class="form-check-input"
                     ng-checked="x.blocked"
                     ng-click="blocklistEdit($event.target.checked ,currentStudent, x)"
                     type="checkbox"
                     id="{{x.id}}">
              <label class="form-check-label"
                     for="{{x.id}}">
                {{x.name}}
              </label>
            </div>
          </div>

          <!-- C osztály -->
          <div class="tab-pane fade"
               id="tab3"
               role="tabpanel"
               aria-labelledby="tab3-tab">
            <div ng-repeat="x in modalStudents"
                 class="form-check"
                 ng-show="x.gender != currentStudent.gender">
              <input class="form-check-input"
                     ng-checked="x.blocked"
                     ng-click="blocklistEdit($event.target.checked, currentStudent, x)"
                     type="checkbox"
                     id="{{x.id}}">
              <label class="form-check-label"
                     for="{{x.id}}">
                {{x.name}}
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer border-secondary">
        <!-- Modal bezárása -->
        <button type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">
            {{currentLang.classes.close}}
        </button>
      </div>

    </div>
  </div>
</div>