<div class="container h-100 w-75">
  <div class="row justify-content-center 
              align-items-center h-100">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" 
             class="form-label">
             Email address
      </label>

      <input type="email" 
             ng-model="model.email" 
             class="form-control" 
             id="exampleInputEmail1" 
             aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" 
             ng-model="model.password" 
             class="form-label">
             Password
      </label>

      <input type="password" 
             class="form-control" 
             id="exampleInputPassword1">
    </div>
    <button type="submit" 
            class="btn btn-primary">
            Küldés
    </button>
  </form>
  </div>
</div>