<div ng-controller="galleryController">
  <div class="one text-center">
    <h1 class="h1-design mt-3 mb-2 position-relative p-0 m-0 fw-light text-center text-uppercase">Galéria</h1>
  </div>
  

  <!-- <div class="container">
    <div class="row justify-content-center text-center">
      <div class="gallery">
        <div class="gallery-item" ng-repeat="image in galleryImages">
          <img ng-src="{{image}}" alt="Galéria kép {{image.id}}" style="width: 50%; height: auto;" />
        </div>
      </div>
    </div>
  </div> -->

  <div class="container gallery min-vh-100 d-flex justify-content-center align-items-center">
    <div class="row justify-content-center text-center">
      <ul class="ul-gallery m-0 p-0 d-grid gap-2 mw-100">
        <li ng-repeat="image in galleryImages">
          <a class="a-gallery">
            <figure class="figure-gallery m-0 position-relative overflow-hidden">
              <img
                class="img-gallery w-100 d-block"
                ng-src="{{image}}"
                alt='Galéria Kép {{image.id}}'>
              <figcaption class="figcaption-gallery position-absolute 
                                 start-0 top-0 d-flex justify-content-center 
                                 w-100 h-100 text-center p-3">
                Galéria kép {{image.id}}
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>