<!-- Navbar -->
<nav class="navbar navbar-dark  navbar-expand-xl bg-dark">
	<div class="container-fluid">
		<button class="navbar-toggler" 
				type="button" 
				data-bs-toggle="collapse" 
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" 
				aria-expanded="false" 
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" 
			 id="navbarSupportedContent">

			<!-- kezdolap -->
			<ul class="navbar-nav me-auto">
				<li class="nav-item mx-1">
					<a class="nav-link" 
					   ui-sref="home" 
					   ui-sref-active="active" 
					   data-bs-toggle="collapse"
					   data-bs-target=".navbar-collapse.show">
						<span class="text-capitalize text-small-caps">
							{{currentLang.header.home}}
						</span>
					</a>
				</li>

				<!-- esemeny -->
				<li class="nav-item mx-1">
					<a class="nav-link" 
					   ui-sref="event" 
					   ui-sref-active="active" 
					   data-bs-toggle="collapse"
					   data-bs-target=".navbar-collapse.show">
						<span class="text-capitalize text-small-caps">
							{{currentLang.header.event}}
						</span>
					</a>
				</li>

				<!-- parvalasztas -->
				<li class="nav-item mx-1">
					<a class="nav-link" 
					   ui-sref="reserve" 
					   ui-sref-active="active" 
					   data-bs-toggle="collapse"
					   data-bs-target=".navbar-collapse.show">
						<span class="text-capitalize text-small-caps">
							{{currentLang.header.pair}}
						</span>
					</a>
				</li>

				<!-- galéria -->
				<li class="nav-item mx-1">
					<a class="nav-link" 
					   ui-sref="gallery" 
					   ui-sref-active="active" 
					   data-bs-toggle="collapse"
					   data-bs-target=".navbar-collapse.show">
						<span class="text-capitalize text-small-caps">
							{{currentLang.header.gallery}}
						</span>
					</a>
				</li>

				<!-- osztalyok -->
				<li class="nav-item mx-1">
					<a class="nav-link" 
					   data-bs-toggle="collapse"
					   ui-sref="classes({class: '13A'})">
						<span class="text-capitalize text-small-caps">
							{{currentLang.header.classes}}
						</span>
					</a>
				</li>
			</ul>

			<ul class="navbar-nav ">
				<!-- nyelv select -->
				<li class="nav-item align-items-center d-flex mx-auto-lg mb-1 mb-xl-0">
					<img ng-src="./assets/flags/{{currentFlag}}.svg" 
							style="height: 30px; width: 30px;"
							class="mx-1">
					<select name="language" 
									id="language" 
									ng-model="$root.currentLang"
									class="form-select mx-1 w-auto"
									data-bs-theme="dark"
									ng-change="selectedLanguage($root.currentLang)">
						<option ng-value="lang.data" 
										ng-repeat="lang in languages" 
										ng-selected="lang.language == 'hu'">
										<img ng-src="./assets/flags/{{currentFlag}}.svg" 
							style="height: 30px; width: 30px;"
							class="">
										{{languageTranslations[lang.language]}}
						</option>
					</select>
				</li>
				<li class="nav-item mx-1">
					<!-- bejelentkezes -->
					<a ng-if="!loggedIn" 
								class=" me-2 nav-link" 
								ui-sref="login">
								<i class="fa-solid fa-right-to-bracket"></i> {{currentLang.header.login}}
					</a>
				</li>
				<!-- Fiók kezelés -->
				<li class="nav-item dropdown d-flex dropstart
							align-items-center mx-1" 
					ng-if="loggedIn">
					<a class="nav-link dropdown-toggle" 
						role="button" 
						data-bs-toggle="dropdown" 
						aria-expanded="false">
						<i class="fa-solid fa-user"></i> {{user.name}}
					</a>
					<ul class="dropdown-menu dropdown-menu-xl-end dropdown-menu-lg-end"></a>
						<li>
							<a class="dropdown-item" 
								ui-sref="profile">
								<i class="fa-solid fa-pen-to-square"></i> {{currentLang.header.profile_edit}}
							</a>
						</li>
						<li>
							<a class="dropdown-item" 
								ng-click="logOut()" 
								data-bs-toggle="modal" 
								data-bs-target="#userModal">
								<i class="fa-solid fa-user-xmark"></i> {{currentLang.header.logout}}
							</a>
						</li>
						<li>
							<a class="dropdown-item" 
								 ng-click="toggleStateSlideshow()">
								<i ng-if="!slideshowPlaying" class="fa-solid fa-play-circle"></i>
								<i ng-if="slideshowPlaying" class="fa-solid fa-stop-circle"></i>
								{{ slideshowPlaying ? 'Stop ' : 'Start ' }}slideshow
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>