<!-- <div class="container h-100 w-75">
  <div class="row justify-content-center 
              align-items-center h-100">
  <form class="border border-1 p-3 
               border-primary text-black rounded 
               w-auto text-center fs-5"
        name="modifyForm">
    <div class="mb-3">
      <label for="InputEmail1" 
             class="form-label">
             Email address
      </label>

      <input type="email" 
             ng-model="model.email" 
             class="form-control border-primary text-primary-emphasis" 
             id="InputEmail1" 
             aria-describedby="emailHelp"
             required
             ng-pattern="/^([a-z0-9_.+-])+@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/">
    </div>
    <div class="mb-3">
      <label for="InputPassword1" 
             ng-model="model.password" 
             class="form-label fs-5 text-black">
             Password
      </label>

      <input type="password" 
             class="form-control border-primary" 
             id="InputPassword1"
             ng-pattern="/^[a-zA-Z0-9]{6,20}$/"
             minlength="6"
             maxlength="20"
             autocomplete="off"
             required>
    </div>
    <button type="submit" 
            class="btn btn-outline-primary"
            ng-disabled="modifyForm.$invalid"
            ng-click="modify()">
            Küldés
    </button>
  </form>
  </div>
</div> -->

<div class="bg-light event-container">
	<div class="container py-5">
		<div class="row">
			<div class="text-center">
				<div class="position-relative d-inline-block" ng-if="!$root.user.type == 'ADMIN'">
					<img ng-src="assets/pics/{{userClass}}/{{userFolder}}/{{userImage}}"
							 class="rounded-circle profile-pic"
							 alt="Profile Picture">
					<button class="btn btn-primary btn-sm position-absolute 
                         bottom-0 end-0 rounded-circle">
						<i class="fas fa-camera"></i>
					</button>
				</div>
				<h3 class="mt-3 mb-1">{{user.name}}</h3>
			</div>
		</div>

		<div class="col-sm-12 col-md-12 col-lg-8 col-xl-6 col-xxl-6
							  mx-auto mt-4 card border-0 shadow-sm card-body mb-4">
			<h5 class="mb-4">{{currentLang.profile.description}}</h5>
			<div class="row g-3">

				<!--Vezetéknév input-->
				<div class="col-md-6">
					<label class="form-label"
								 for="vezeteknev_input">
						{{currentLang.profile.surname}}
					</label>
					<input type="text"
								 id="vezeteknev_input"
								 class="form-control" 
								 value="{{user.name.split(' ')[0]}}" 
								 disabled>
				</div>

				<!--Keresztnév input-->
				<div class="col-md-6">
					<label class="form-label"
								 for="keresztnev_input">
						{{currentLang.profile.forename}}
					</label>
					<input type="text"
								 id="keresztnev_input"
								 class="form-control" 
								 value="{{user.name.split(' ')[1]}}" 
								 disabled>
				</div>

				<!--Email input-->
				<div class="col-md-6">
					<label class="form-label"
								 for="email_input">
						{{currentLang.profile.email}}
					</label>
					<input type="email" 
								 id="email_input"
								 class="form-control" 
								 placeholder="{{currentLang.profile.email}}"
								 maxlength="150"
								 pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
								 ng-model = "profile.email">
				</div>

				<!--Telefonszám input-->
				<div class="col-md-6">
					<label class="form-label"
								 for="telefonszam_input">
						{{currentLang.profile.phone_number}}
					</label>
					<input type="tel"
								 id="telefonszam_input"
								 class="form-control"
								 maxlength="20"
								 pattern="[0-9]{4,}" 
								 placeholder="{{currentLang.profile.phone_number}}"
								 ng-model = "profile.phone">
				</div>

				<!--Leírás input-->
				<div class="col-12">
					<label class="form-label"
								 for="leiras_input">
						{{currentLang.profile.description}}
					</label>
					<textarea class="form-control" 
										rows="4"
										maxlength="200"
										ng-model="profile.description"
										id="leiras_input"></textarea>
				</div>

				<!--Modify Profile-->
				<div class="col-12 d-flex justify-content-center">
					<div class="row mt-4 col-md-6 justify-content-center">
						<button class="btn btn-primary mx-2 mb-3 w-auto"
										ng-disabled="!profile.phone || !profile.email || !isChanged"
										ng-click="modify()"
										data-bs-toggle="modal"
										data-bs-target="#userModal">
							{{currentLang.profile.save_changes}}
						</button>
						<button class="btn btn-danger mx-2 mb-3 w-auto"
										ng-click="discardProfile()">
							{{currentLang.profile.discard_changes}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>