<div class="container">
    <div class="row">
        <h1 class="text-center display-1 mt-5">{{currentLang.reserve.pair}}</h1>
    </div>
  <div class="row d-flex justify-content-center mt-5">

    <!--Párgenerálás gomb-->
    <button class="btn btn-dark col-3 btn-outline mx-2"
            ng-click="makePairs()"
            ng-show="$root.user.id === 999 || $root.user.id">
      {{currentLang.reserve.make_pairs}}
    </button>

    <button class="btn btn-dark col-3 btn-outline"
            ng-show="$root.user.id === 999">
      {{currentLang.reserve.manual_pair}}
    </button>

    <p class="text-center mt-3 text-muted" 
       ng-if="pairsNamed.length > 0">
      {{currentLang.reserve.all}} 
      {{pairsNamed.length}} 
      {{currentLang.reserve.pair}} 
      {{currentLang.reserve.generated}}.
    </p>

    <table class="table table-hover table-sm 
                  table-bordered table-striped table-sm mt-3 text-center">

      <!--Table head-->
      <thead class="table-dark">
        <tr>
          <th colspan="4">{{currentLang.reserve.pairs}}</th>
        </tr>
        <tr>
          <th class="w-50" 
              colspan="2">
            {{currentLang.reserve.first}}
          </th>
          <th class="w-50" 
              colspan="2">
            {{currentLang.reserve.second}}
          </th>
        </tr>
      </thead>

      <!--Table body-->
      <tbody>
        <tr ng-repeat="x in pairsNamed">
          <td class="p-0 m-0 bg-transparent" 
              style="max-width: 100px; width: 100px;">
            <img ng-src="assets/pics/{{x.image1}}" 
                 class="bg-transparent img-fluid"
                 style="width: 100px;">
          </td>

          <td class="w-auto"
              colspan="1"
              ng-style="x.gender1 == 'M' ? {'background-color':'#B0E0E6','color': '#003366'} : 
                                           {'background-color':'#e6e6fa', 'color':'#4b0082'}">
                                           {{x.name1}}
          </td>

          <td class="w-auto"
              colspan="1"
              ng-style="x.gender2 == 'M' ? {'background-color':'#B0E0E6','color': '#003366'} : 
                                           {'background-color':'#e6e6fa', 'color':'#4b0082'}">
                                           {{x.name2}}
          </td>

          <td class="p-0 m-0 bg-transparent w-auto"
              colspan="1">
            <img ng-src="assets/pics/{{x.image2}}" 
                 class="bg-transparent img-fluid" 
                 style="width: 100px">
          </td>
        </tr>
      </tbody>
    </table>


    <table class="table table-hover table-sm 
                  table-bordered table-sm mt-3 text-center">
      <thead class="table-dark">
        <tr>
          <th colspan="4">{{currentLang.reserve.no_pairs}}</th>
        </tr>
      </thead>
      <tbody>
         <tr ng-repeat="x in notPaired">
          <td class="p-0 m-0 bg-transparent border-0">
            <img ng-src="assets/pics/{{x.class}}/{{x.folderName}}/{{x.imageName}}.{{x.fileExtension}}" 
                 class="bg-transparent border-0 img-fluid"  
                 style="width: 100px;">
          </td>

          <td class="w-auto" 
              ng-style="x.gender == 'M' ? {'background-color':'#B0E0E6','color': '#003366'} : 
                                           {'background-color':'#e6e6fa', 'color':'#4b0082'}">
                                           {{x.name}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>